.main {
  color: #1A202C;

  .category {
    position: relative;
    .categoryInfo {
      padding: 10px 0;
      left: 0;
      right: 0;
      top: 0;
      position: fixed;
      background: #fff;
  
      p {
        font-size: 12px;
      }
    }
  }
}